WATSONX_APIKEY=
IBM_CLOUD_URL=
PROJECT_ID=
MILVUS_HOST=
MILVUS_PORT=
MILVUS_SERVER_PEM_PATH=
MILVUS_SERVER_NAME=
MILVUS_USER=
MILVUS_PASSWORD=
EMB_IBM_CLOUD_URL=
EMB_PROJECT_ID=
EMB_WATSONX_APIKEY=
EMB_SPACE_ID=
EMB_DEPLOYMENT_ID=